---
import { type CollectionEntry, getCollection } from 'astro:content'
import DefaultLayout from '../../layouts/Default.astro'
import InteriorHero from '../../components/InteriorHero.astro'
import { Tag } from '../../sections/Tag'
import { getPostColorFromCategory } from '../../utils/postUtils'
import InteriorContent from '../../components/InteriorContent.astro'

//import BlogPost from '../../layouts/BlogPost.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post
	}))
}

type Props = CollectionEntry<'blog'>

const post: Props = Astro.props
const {
	data: {
		category,
		title,
		description,
		author: { name, title: authorTitle }
	}
} = post
const { Content } = await post.render()
---

<DefaultLayout>
	<InteriorHero>
		<div class="relative">
			<div class="flex justify-center">
				<Tag color={getPostColorFromCategory(category)}> {category} </Tag>
			</div>
			<h1
				class="mt-4 text-center font-heading text-5xl font-black text-zinc-300 md:text-6xl lg:text-7xl"
			>
				{title}
			</h1>
			<p class="mx-auto mt-8 max-w-2xl text-center text-xl text-zinc-400">{description}</p>
			<div class="mt-8 flex flex-col items-center">
				<div class="size-16 rounded-full bg-zinc-700 bg-cover bg-center"></div>
				<div class="mt-3 text-lg font-extrabold">{name}</div>
				<div class="text-zinc-500">{authorTitle}</div>
			</div>
		</div>
	</InteriorHero>
	<InteriorContent>
		<div
			class="prose prose-lg prose-zinc prose-invert mx-auto prose-headings:font-heading prose-headings:font-black prose-h2:text-3xl prose-h2:text-zinc-400 prose-h3:text-2xl prose-h3:text-zinc-400 prose-h2:md:text-3xl prose-h2:lg:text-5xl prose-h3:lg:text-3xl"
		>
			<Content />
		</div>
	</InteriorContent>
</DefaultLayout>
